In [128]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer,KNNImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [129]:
df = pd.read_csv('../data/titanic.csv', usecols=['Age', 'Pclass', 'Fare', 'Survived'])

In [130]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  34.5   7.8292
1         1       3  47.0   7.0000
2         0       2  62.0   9.6875
3         0       3  27.0   8.6625
4         1       3  22.0  12.2875

In [131]:
df.isnull().mean()*100

Survived     0.000000
Pclass       0.000000
Age         20.574163
Fare         0.239234
dtype: float64

In [132]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [133]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [134]:
x_train.head()

     Pclass   Age     Fare
280       3  23.0   8.6625
284       3   2.0  20.2125
40        3  39.0  13.4167
17        3  21.0   7.2250
362       2  31.0  21.0000

In [135]:
knn = KNNImputer(n_neighbors=10)

x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [136]:
pd.DataFrame(x_train_trf, columns=x_train.columns)

     Pclass     Age     Fare
0       3.0  23.000   8.6625
1       3.0   2.000  20.2125
2       3.0  39.000  13.4167
3       3.0  21.000   7.2250
4       2.0  31.000  21.0000
..      ...     ...      ...
329     3.0  29.000   7.8542
330     1.0  26.500  31.6833
331     3.0  29.000   7.9250
332     2.0  24.000  27.7208
333     1.0  32.042  27.7208

[334 rows x 3 columns]

In [137]:
lr = LogisticRegression()

lr.fit(x_train_trf, y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test, y_pred)

0.6666666666666666

In [138]:
si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

In [139]:
lr = LogisticRegression()

lr.fit(x_train_trf2, y_train)

y_pred2 = lr.predict(x_test_trf2)

accuracy_score(y_test, y_pred2)

0.6428571428571429